 <table class="cont_full_width" width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="fullpad" style="padding:25px 30px 25px 30px;"> 
                          <!-- SOCIAL -->
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td  class="fullpad" style="padding-top:7px; padding-bottom:7px; border-top:1px solid #dfe0e0; border-bottom:1px solid #dfe0e0">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="37%" class="blockme centerme" align="right" style="padding-right:25px; padding-top:5px; padding-bottom:5px;"><a href="http://CONNECT.SANDIEGO.ORG" style="text-decoration:none;font-family:'Oswald','Arial Narrow',Helvetica, Arial, sans-serif; font-size:14px; letter-spacing:0.5px;color:#ee7421;">CONNECT.SANDIEGO.ORG</a></td>
                                    <td width="26%" class="blockme centerme" align="center" valign="middle" style="padding-left:25px; padding-right:25px;padding-top:5px; padding-bottom:5px; border-left:1px solid #dfe0e0; border-right:1px solid #dfe0e0;">
<a href="http://twitter.com/sdtaconnect" target="_blank" title="@SDTAConnect on Twitter"><img src="http://image.exct.net/lib/fe6e15707166047a7715/m/1/sdta_nl_foot_soc_tw.png" border="0" /></a>
<a href="https://www.linkedin.com/company/san-diego-tourism-authority" target="_blank" title="SDTA on LinkedIn"><img src="http://image.updates.sandiego.org/lib/fe9e15707566017871/m/2/sdta_nl_foot_soc_li.png" border="0" /></a>
<a href="http://twitter.com/visitsd_pr" target="_blank" title="@VisitSD_PR on Twitter"><img src="http://image.exct.net/lib/fe6e15707166047a7715/m/1/sdta_nl_foot_soc_tw.png" border="0" /></a></td>
                                    <td width="37%" class="blockme centerme" style="padding-left:25px; padding-top:5px; padding-bottom:5px;"><a href="http://www.sandiego.org/articles/human-resources/travel-tourism-jobs-san-diego-tourism-authority.aspx" style="text-decoration:none;font-family:'Oswald','Arial Narrow',Helvetica, Arial, sans-serif; font-size:14px; letter-spacing:0.5px;color:#ee7421;">CAREER OPPORTUNITIES</a></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- FOOTER -->
              <table class="fullwidth" align="center" width="540" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center" style="font-family:Helvetica, Arial, sans-serif; color:#969597; font-size:11px; padding-bottom:20px; padding-top:15px; padding-left:10px; padding-right:10px; line-height:18px;">  &nbsp;<span style="white-space:nowrap; font-size:9.5px;"><a href="http://www.sandiego.org/privacy-policy.aspx" style="text-decoration:none; color:#969597;">PRIVACY POLICY</a> | <a href="%%unsub_center_url%%" style="text-decoration:none; color:#969597;">UNSUBSCRIBE</a></span><br>
                    San Diego Tourism Authority, 750 B Street, Suite 1500, San Diego, CA 92101 </td>
                </tr>
                <tr>
                  <td align="center" style="font-family:Helvetica, Arial, sans-serif; font-style:italic; color:#969597; font-size:11px; line-height:17px; padding:20px 15px 30px; border-top:1px solid #d6d6d1;"> The San Diego Tourism Authority is funded in part by the San Diego Tourism Marketing District
                    Corporation with City of San Diego Tourism Marketing District assessment funds. </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<!-- RegionEnd[ socialslot:"sandiegoemail"] -->

<div style="display:none !important">
  <table cellpadding="0" cellspacing="0" width="100%" ID="Table5" Border=0>
    <tr>
      <td><font face="verdana" size="1" color="#444444">This email was sent by: <b>%%Member_Busname%%</b><br>
        %%Member_Addr%% %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%<br>
        <br>
        </font></td>
    </tr>
  </table>
  <a href="%%profile_center_url%%" alias="Update Profile">Update Profile</a><a href="%%unsub_center_url%%" alias="Unsubscribe">Unsubscribe</a> </div>

</body>
</html>